body {
  background-color: #F6FCFF;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #AAA;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: blueviolet;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover,
nav button:hover {
  color: #bbb;
}

/*form styles*/
form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .8em 0;
  background-color: transparent;
}

.btn {
  background-color: blueviolet;
  color: beige;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid black;
  transition: 0.5s;
}

.btn:hover {
  color: blueviolet;
  background-color: transparent;
  border: 1px solid blueviolet;
}

.btn.btn-dark {
  background-color: purple;
  border-radius: 0;;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: blueviolet;
  border: 1px solid blueviolet;
  padding: 7px 30px;
}

.btn.btn-outline:hover {
  background-color: blueviolet;
  color: beige;
}

.btn.btn-danger:hover {
  background-color: red;
}

button:disabled {
  background-color: red;
}
button:disabled:hover {
  color: red;
  background-color: transparent;
  border: 1px solid red;
}

.container .error {
  color: #721C24;
  background-color: #F8D7DA;
  border: 1p solid #F5C6CB;
  padding: 5px;
  border-radius: 5px;
}

.container .success {
  color: #075004;
  background-color: #1efa0a;
  border: 1p solid #0b8f37;
  padding: 5px;
  border-radius: 5px;
}

.quill {
  box-sizing: border-box;
  border: none;
  padding: .8em 0;
  background-color: transparent;  
  height: 200px;
}

.quill::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #AAA;
}

.quill:focus {
  outline: none;
}