.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;    
}

.links_list {
    display: flex;
    list-style: none;
    margin-right: 1em;
}

.links_list li a {
    margin: 0.5px;
    padding: .4em .6em;
    color: blueviolet;
    border: 1px solid transparent;
    transition: 0.5s;
}

.links_list li a:hover {
    background-color: blueviolet;
    color: beige;
}

.active {
    background-color: purple !important;
    text-decoration: underline;    
    color: beige !important;
}